<div class="container-fluid" >
  <div class="myClass">
      <img src="assets/bg.png">
    <!--<div id='nav'>
    <ul>
      <li>
        <span (click)="homeCall()">Home</span>
        </li>
        <li>
          <span (click)="servicesCall()">Services</span>
        </li>
        <li>
        <span (click)="portfolioCall()">Portfolio</span>
      </li>
      <li>
        <span (click)="aboutCall()">About Us</span>
      </li>
      <li>
        <span (click)="contactCall()">Contact Us</span>
      </li>
    </ul>
  </div>-->
  </div>


  </div>
  <!--<header>

  </header>
  <nav class="navbar navbar-expand-sm fixed-top navbar-light">
    <div class="container">
        <a class="navbar-brand" href="#">Brand</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar1">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="homeCall()">Home</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="servicesCall()">Services</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#">Portfolio</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#">Contact Us</a>
              </li>
            </ul>
        </div>
    </div>
</nav>-->
